button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(93, 222, 226);
}
h1 {
  color: rgb(47, 13, 240);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
  color: rgb(207, 22, 136);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
div {
  text-align: center;
  /* margin-top: 100px; */
  border: 1px solid #ccc;
  background-color: rgb(172, 179, 185);
}
input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 5px;
}

ul button {
  background-color: rgb(240, 13, 119);
  color: white;
  border: none;
  cursor: pointer;
}

.heading {
  color: rgb(240, 13, 119);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}
.footer {
  background-color: rgb(26, 32, 32);
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.card {
  width: 250px;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: rgb(86, 153, 211);
  border-radius: 10px;
  padding: 10px;
}
.cardBox {
  width: 1320px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
  padding: 20px;
}
.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

form {
  width: 500px;
  margin: auto;
  background-color: cornflowerblue;
  border: #ccc;
  border-radius: 10px solid grey;
  margin-top: 20px;
  padding: 20px;
}
form input {
  margin-top: 10px;
  padding: 10px;
}
